# ‰ΩøÁî®PandasËøõË°åÊï∞ÊçÆÊ∏ÖÊ¥ó

### ÁÆÄ‰ªã



Pandas ÊòØ Python ‰∏≠ÂæàÊµÅË°åÁöÑÁ±ªÂ∫ìÔºå‰ΩøÁî®ÂÆÉÂèØ‰ª•ËøõË°åÊï∞ÊçÆÁßëÂ≠¶ËÆ°ÁÆóÂíåÊï∞ÊçÆÂàÜ„ÄÇ

- Êï∞ÊçÆÂàÜÊûêÁªìÊûúÁöÑÂ•ΩÂùè‰æùËµñ‰∫éÊï∞ÊçÆÁöÑÂ•ΩÂùè„ÄÇ
- ÂæàÂ§öÊï∞ÊçÆÈõÜÂ≠òÂú®Êï∞ÊçÆÁº∫Â§±ÔºåÊàñÊï∞ÊçÆÊ†ºÂºè‰∏çÁªü‰∏ÄÔºàÁï∏ÂΩ¢Êï∞ÊçÆÔºâÔºåÊàñÈîôËØØÊï∞ÊçÆÁöÑÊÉÖÂÜµ„ÄÇ
- ‰∏çÁÆ°ÊòØ‰∏çÂÆåÂñÑÁöÑÊä•Ë°®ÔºåËøòÊòØÊäÄÊúØÂ§ÑÁêÜÊï∞ÊçÆÁöÑÂ§±ÂΩìÈÉΩ‰ºö‰∏çÂèØÈÅøÂÖçÁöÑÂºïËµ∑‚ÄúËÑè‚ÄùÊï∞ÊçÆ„ÄÇ

Pandas Êèê‰æõÂäüËÉΩÂº∫Â§ßÁöÑÁ±ªÂ∫ìÔºåÂ∏ÆÂä©Êàë‰ª¨Ê∏ÖÊ¥óÊï∞ÊçÆüëá

- ÂáÜÂ§áÂ∑•‰Ωú
- Ê£ÄÊü•Êï∞ÊçÆ
- Â§ÑÁêÜÁº∫Â§±Êï∞ÊçÆ
- Ê∑ªÂä†ÈªòËÆ§ÂÄº
- Âà†Èô§‰∏çÂÆåÊï¥ÁöÑË°å
- Âà†Èô§‰∏çÂÆåÊï¥ÁöÑÂàó
- ËßÑËåÉÂåñÊï∞ÊçÆÁ±ªÂûã
- ÂøÖË¶ÅÁöÑËΩ¨Êç¢
- ÈáçÂëΩÂêçÂàóÂêç
- ‰øùÂ≠òÁªìÊûú

https://www.cnblogs.com/BoyceYang/p/8182053.html




![](./img/data_cleaning/data_cleaning.jpg)

Credit: [Êù•Ê∫ê](https://pic2.zhimg.com/v2-7e5be40e46075e82d6362897319e7be9_r.jpg)

## Ê°à‰æã1Ôºö ÁîµÂΩ±Êï∞ÊçÆÊ∏ÖÊ¥ó

Ëøô‰∏™Êï∞ÊçÆÈõÜÂåÖÂê´‰∫ÜÂæàÂ§ö‰ø°ÊÅØÔºåÊºîÂëò„ÄÅÂØºÊºî„ÄÅÈ¢ÑÁÆó„ÄÅÊÄªËæìÂÖ•Ôºå‰ª•Âèä IMDB ËØÑÂàÜÂíå‰∏äÊò†Êó∂Èó¥„ÄÇÊúâ‰∏Ä‰∫õÂàóÁöÑÂÄºÊòØÁº∫Â§±ÁöÑÔºåÊúâ‰∫õÂàóÁöÑÈªòËÆ§ÂÄºÊòØ0ÔºåÊúâÁöÑÊòØ NaNÔºàNot a NumberÔºâ„ÄÇ‰∏ãÈù¢Êàë‰ª¨ÈÄöËøá‰ΩøÁî® Pandas Êèê‰æõÁöÑÂäüËÉΩÊù•Ê∏ÖÊ¥ó‚ÄúËÑè‚ÄùÊï∞ÊçÆ„ÄÇ



Êï∞ÊçÆÊù•Ê∫ê:
- https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset
- https://raw.githubusercontent.com/sundeepblue/movie_rating_prediction/master/movie_metadata.csv

In [30]:
import pandas as pd
data = pd.read_csv('../data/movie_metadata.csv')

### Ê£ÄÊü•Êï∞ÊçÆ

Ê£ÄÊü•‰∏Ä‰∏ãÊàë‰ª¨ÂàöÂàöËØªÂÖ•Êï∞ÊçÆÁöÑÂü∫Êú¨ÁªìÊûÑÔºåPandas Êèê‰æõ‰∫Ü head() ÊñπÊ≥ïÊâìÂç∞ËæìÂá∫Ââç‰∫îË°åÊï∞ÊçÆ„ÄÇÁõÆÁöÑÊòØËÆ©Êàë‰ª¨ÂØπËØªÂÖ•ÁöÑÊï∞ÊçÆÊúâ‰∏Ä‰∏™Â§ßËá¥ÁöÑ‰∫ÜËß£„ÄÇ

```
data.head()
```


Pandas Êèê‰æõ‰∫Ü‰∏Ä‰∫õÈÄâÊã©ÁöÑÊñπÊ≥ïÔºàÊï∞ÊçÆÂàáÁâá„ÄÅÊï∞ÊçÆÂàáÂùóÔºâÔºö

- Êü•Áúã‰∏ÄÂàóÁöÑ‰∏Ä‰∫õÂü∫Êú¨ÁªüËÆ°‰ø°ÊÅØÔºödata.columnname.describe()
- ÈÄâÊã©‰∏ÄÂàóÔºödata['columnname']
- ÈÄâÊã©‰∏ÄÂàóÁöÑÂâçÂá†Ë°åÊï∞ÊçÆÔºödata['columnsname'][:n]
- ÈÄâÊã©Â§öÂàóÔºödata[['column1','column2']]
- Where Êù°‰ª∂ËøáÊª§Ôºödata[data['columnname'] > condition]

In [31]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

###    ‰∏Ä„ÄÅÁº∫Â§±Êï∞ÊçÆ

‰∏∫‰ªÄ‰πàË¶ÅËÄÉËôëÊï∞ÂÄºÁº∫Â§±ÁöÑÊÉÖÂÜµÔºü

- ÁúüÂÆû‰∏ñÁïåÁöÑÊï∞ÊçÆÂæàÂ∞ëÊòØÂπ≤ÂáÄÂíå‰∏ÄËá¥ÁöÑ
- ËÆ∏Â§öÊúâË∂£ÁöÑÊï∞ÊçÆÈõÜÈÉΩ‰ºö‰∏¢Â§±‰∏Ä‰∫õÊï∞ÊçÆ
- ‰∏çÂêåÁöÑÊï∞ÊçÆÊ∫êÂèØËÉΩ‰ª•‰∏çÂêåÁöÑÊñπÂºèË°®Á§∫Áº∫Â§±ÁöÑÊï∞ÊçÆ

Áº∫Â§±Êï∞ÊçÆÊòØÊúÄÂ∏∏ËßÅÁöÑÈóÆÈ¢ò‰πã‰∏Ä„ÄÇ‰∫ßÁîüËøô‰∏™ÈóÆÈ¢òÂèØËÉΩÁöÑÂéüÂõ†

‚ë† ‰ªéÊù•Ê≤°ÊúâÂ°´Ê≠£Á°ÆËøá‚ë° Êï∞ÊçÆ‰∏çÂèØÁî®‚ë¢ ËÆ°ÁÆóÈîôËØØ

Â§ÑÁêÜÁº∫Â§±Êï∞ÊçÆÁöÑÊñπÊ≥ïÔºö
‰∏Ä„ÄÅË°•ÂÖÖÁº∫Â§±ÂÄº; ‰∫å„ÄÅÂà†Èô§Áº∫Â§±ÂÄº; ‰∏â„ÄÅ‰∏çÂ§ÑÁêÜ

#### 1. ‰ΩøÁî®ÈªòËÆ§ÂÄºÂ°´Ë°•Áº∫Â§±

In [6]:
data.isnull() # ÈÄöËøáËøô‰∏™ÂáΩÊï∞Êü•ÁúãÊòØÂê¶ÊúâÁº∫Â§±ÂÄº„ÄÇTrueË°®Á§∫Áº∫Â§±ÔºåFalseË°®Á§∫Ê≤°ÊúâÁº∫Â§±„ÄÇ

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5013,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5014,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
5015,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5016,False,False,True,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5017,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5018,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5019,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,True,False,False,False,False,False
5020,True,False,True,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5021,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5022,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5023,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
5024,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
5025,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5026,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5027,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5028,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5029,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
5030,False,False,True,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
5031,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
5032,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
5033,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5034,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5035,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5036,False,False,True,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
5037,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
5038,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
5039,False,True,False,False,True,False,False,False,True,False,...,False,False,False,False,True,True,False,False,False,False
5040,False,False,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,False,True,False
5041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
5042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

##### üëâ‰ΩøÁî®Á©∫Â≠óÁ¨¶‰∏≤Â°´Ë°•

In [7]:
data.director_name.fillna('')
# Ê≠§Â§ÑÁî®Á©∫Â≠óÁ¨¶‰∏≤Êõø‰ª£Áº∫Â§±ÂÄº
# ËØ•ÂáΩÊï∞ÁöÑ‰ΩøÁî®ÊñπÊ≥ïÔºöÂàóË°®ÂêçÁß∞.ÂàóÂêç.fillna('Êõø‰ª£NAÁöÑÂ≠óÁ¨¶')

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
5013            Eric Eason
5014              Uwe Boll
5015     Richard Linklater
5016       Joseph Mazzella
5017          Travis Legge
5018         Alex Kendrick
5019         Marcus Nispel
5020       Brandon Landers
5021           Jay Duplass
5022            Jim Chuchu
5023            Daryl Wein
5024           Jason Trost
5025           John Waters
5026       Olivier Assayas
5027          Jafar Panahi
5028         Ivan Kavanagh
5029      Kiyoshi Kurosawa
5030          Tadeo Garcia
5031    Thomas L. Phillips
5032       Ash Baron-Cohen
5033         Shane Carruth
5034      Neill Dela Llana
5035      Robert Rodriguez
5036       Anthony Vallone
5037          Edward Burns
5038           Scott Smith
5039
5040      Benjamin Roberds
5041           Daniel Hsia
5042              Jon Gunn
Name: director_name, Length: 5043, dtype: object

##### üëâ‰ΩøÁî®Êï∞ÂÄº0ËøõË°åÂ°´Ë°•

In [8]:
data.duration.fillna(0)

0       178.0
1       169.0
2       148.0
3       164.0
4         0.0
5       132.0
6       156.0
7       100.0
8       141.0
9       153.0
10      183.0
11      169.0
12      106.0
13      151.0
14      150.0
15      143.0
16      150.0
17      173.0
18      136.0
19      106.0
20      164.0
21      153.0
22      156.0
23      186.0
24      113.0
25      201.0
26      194.0
27      147.0
28      131.0
29      124.0
        ...
5013     79.0
5014     80.0
5015    100.0
5016     90.0
5017     90.0
5018    120.0
5019     91.0
5020    143.0
5021     85.0
5022     60.0
5023     88.0
5024     78.0
5025    108.0
5026    110.0
5027     90.0
5028     83.0
5029    111.0
5030     84.0
5031     82.0
5032     98.0
5033     77.0
5034     80.0
5035     81.0
5036     84.0
5037     95.0
5038     87.0
5039     43.0
5040     76.0
5041    100.0
5042     90.0
Name: duration, Length: 5043, dtype: float64

#### 2.Âà†Èô§Áº∫Â§±Êï∞ÊçÆ
##### ‚ë†ÊúâÁº∫Â§±Êï∞ÊçÆÁöÑÊÉÖÂÜµÂ∞±Âà†Èô§Ôºà‰∏ÄË°å‰ªªÊÑèÂá∫Áé∞‰∏Ä‰∏™Áº∫Â§±ÂÄºÊàëÂ∞±Âà†ÊéâÔºâ

In [10]:
data.dropna()[:3]
# Âà†Èô§‰ªª‰ΩïÂåÖÂê´ NA ÂÄºÁöÑË°åÔºö
# ÂèØ‰ª•ÁúãÂà∞ÂéüÊú¨ÊúâNAÂÄºÂæóË°åÂÖ®ÈÉ®Ë¢´Âà†Èô§

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

##### ‚ë° ÂÖ®ÈÉ®ÊòØÁº∫Â§±ÂÄºÊâçÂà†Èô§
Ôºà‰∏ÄËà¨ÊÉÖÂÜµ‰∏ãÂ¶ÇÊûúÊúâÈÉ®ÂàÜÁº∫Â§±ÂÄºÊòØ‰∏çÂΩ±ÂìçÊï¥‰ΩìË°åÂàóÁöÑÔºåÂ¶ÇÊûúÊúâÂ∞±Âà†Èô§‰ºöÂΩ±ÂìçÊï∞ÊçÆÂÆåÊï¥ÊÄßÔºâ

In [11]:
data.dropna(how='all')[:3]
# Âà†Èô§‰ªª‰ΩïÂåÖÂê´ NA ÂÄºÁöÑË°åÔºö
# ÂèØ‰ª•ÁúãÂà∞ÂéüÊú¨ÊúâNAÂÄºÂæóË°åÂÖ®ÈÉ®Ë¢´Âà†Èô§

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

##### ‚ÜíÂõæÁ§∫Ëß£ËØªÔºöÊàë‰ª¨ÂèØ‰ª•ÂèëÁé∞ÔºåÂÖ®ÈÉ®ÊòØÁº∫Â§±ÂÄºÊâçÂà†Èô§ÁöÑÊñπÊ≥ïÂæà‰ΩéÊïàÂá†‰πéÊ≤°Áî®
##### ‚ÜíÂéüÂßãÊï∞ÊçÆÊòØ5043Ë°åÔºåÁªèËøáÂ§ÑÁêÜÂêé‰ªçÁÑ∂ÊòØ5043Ë°å

##### ‚ë¢ Ëá≥Â∞ëÊúân‰∏™ÊâçÂà†Èô§
ÔºàÊàë‰ª¨ÂèØ‰ª•ËÆæÂÆö‰∏Ä‰∏™‚ÄúÈó®Êßõ‚ÄùÔºåÂ¶ÇÊûú‰∏ÄË°å‰∏≠Êúâ5‰∏™‰ª•‰∏äÁº∫Â§±ÂÄºÂ∞±Âà†Èô§ÔºåËøôÊ†∑ÊØîËµ∑‰∏äÈù¢‰∏§‰∏™ÊñπÊ≥ïÊõ¥Âä†‚Äú‰∏≠Â∫∏‚ÄùÔºâ
##### ‚ÜíÂõæÁ§∫Ëß£ËØªÔºö‰ΩÜÊàë‰ª¨ÂèëÁé∞ËÆæÂÆö5‰∏™Áº∫Â§±ÂÄº‰∏∫Èó®Êßõ‰ªçÁÑ∂‰∏çËÉΩÂ§ÑÁêÜÔºåÊàë‰ª¨ÈúÄË¶ÅÈôç‰ΩéÂà†Èô§ÁöÑÈó®Êßõ,ÔºåÊØîÂ¶ÇÊîπÂà∞4‰∏™Êàñ3

In [13]:
data.dropna(thresh=5)[:3]
# Âú®‰∏ãÈù¢ÁöÑ‰æãÂ≠ê‰∏≠ÔºåË°åÊï∞ÊçÆ‰∏≠Ëá≥Â∞ëË¶ÅÊúâ 5 ‰∏™Áº∫Â§±ÂÄºÊâç‰ºöÂà†Èô§

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

##### ‚ë£ Êüê‰∏™/Âá†‰∏™ÂàóÂÄºÁº∫Â§±ÊâçÂà†Èô§
ÔºàÂ¶ÇÊûúÊàë‰ª¨ËßâÂæóÊüêÂá†‰∏™ÂÄºÊòØÁâπÂà´ÈáçË¶ÅÁöÑ„ÄÅ‰∏çÂèØÊàñÁº∫ÁöÑËØùÔºåÂ¶ÇÊûúÊòØÁº∫Â§±ÂÄºËØ•Êï∞ÊçÆÂ∞±Ê≤°ÊÑè‰πâÔºåÂ∞±ÂèØ‰ª•ÊåáÂÆöÁâπÂÆöÂàóÔºâ

Ôºà‰æãÂ¶ÇÂØπ‰∫é‰∏Ä‰∏™ÁîµÂΩ±ËÄåË®ÄÔºåÁîµÂΩ±ÂêçÂ≠óÊàñËÄÖÂØºÊºîÈÄöÂ∏∏ÊòØÂøÖÈ°ªÁöÑË¶ÅÁ¥†Ôºâ

In [14]:
data.dropna(subset=['director_name','title_year'])[:3]
# Ê≠§Â§ÑÁî®subsetÊñπÊ≥ïÂà†Èô§‰∫Ü 'director_name','title_year'‰∏∫Áº∫Â§±ÂÄºÁöÑË°å

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

##### ‚ë§ Âà†Èô§Âàó
ÔºàÂâçÈù¢ÁöÑÊìç‰ΩúÊòØÈíàÂØπË°åÔºâ

ÔºàÂêåÊ†∑ÁöÑÊñπÊ≥ï‰πüÈÄÇÁî®‰∫é‰∫éÂàóÔºåÂè™ÈúÄË¶ÅË°•ÂÖÖaxis=1ÁöÑÂèÇÊï∞Âç≥ÂèØ„ÄÇÈªòËÆ§ÂÄº‰∏∫axis=0 Ë°å  axis=1 ÂàóÔºâ

In [16]:
# Âà†Èô§‰∏ÄÊ≠£Âàó‰∏∫ NA ÁöÑÂàóÔºö
data.dropna(axis=1, how='all')[:3]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [17]:
# Âà†Èô§‰ªª‰ΩïÂåÖÂê´Á©∫ÂÄºÁöÑÂàóÔºö
data.dropna(axis=1, how='any')[:3]

,genres,movie_title,num_voted_users,cast_total_facebook_likes,movie_imdb_link,imdb_score,movie_facebook_likes
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,886204,4834,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,7.9,33000
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,471220,48350,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,7.1,0
2,Action|Adventure|Thriller,Spectre,275868,11700,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,6.8,85000

#### 3. ÈÄöËøáËÆ°ÁÆóÂ°´ÂÖÖ
‰ΩøÁî®Êï∞Â≠óÁ±ªÂûãÁöÑÊï∞ÊçÆÔºåÊØîÂ¶ÇÔºåÁîµÂΩ±ÁöÑÊó∂ÈïøÔºåËÆ°ÁÆóÂÉèÁîµÂΩ±Âπ≥ÂùáÊó∂ÈïøÂèØ‰ª•Â∏ÆÊàë‰ª¨ÁîöËá≥ÊòØÊï∞ÊçÆÈõÜ„ÄÇËøôÂπ∂‰∏çÊòØÊúÄ‰ºòËß£Ôºå‰ΩÜËøô‰∏™ÊåÅÁª≠Êó∂Èó¥ÊòØÊ†πÊçÆÂÖ∂‰ªñÊï∞ÊçÆ‰º∞ÁÆóÂá∫Êù•ÁöÑ„ÄÇËøôÊ†∑ÁöÑÊñπÂºè‰∏ãÔºåÂ∞±‰∏ç‰ºöÂõ†‰∏∫ÂÉè 0 ÊàñËÄÖ NaNËøôÊ†∑ÁöÑÂÄºÂú®Êàë‰ª¨ÂàÜÊûêÁöÑÊó∂ÂÄôËÄåÊäõÈîô„ÄÇ

In [32]:
data['duration'] = data.duration.fillna(data.duration.mean())
data['duration'][:5]
# Ê≠§Â§ñËøòÂèØ‰ª•‰ΩøÁî®ÊúÄÂ§ßÂÄº ÊúÄÂ∞èÂÄº Á≠âÊñπÂºèÂ°´Ë°•

0    178.000000
1    169.000000
2    148.000000
3    164.000000
4    107.201074
Name: duration, dtype: float64

###    ‰∫å„ÄÅÂØπÊï∞ÂÄºÁ±ªÂûãËøõË°åËßÑËåÉ(ËΩ¨Êç¢Á±ªÂûãÔºâ

ÊúâÁöÑÊó∂ÂÄôÔºåÂ∞§ÂÖ∂ÂΩìÊàë‰ª¨ËØªÂèñ csv ‰∏≠‰∏Ä‰∏≤Êï∞Â≠óÁöÑÊó∂ÂÄôÔºåÊúâÁöÑÊó∂ÂÄôÊï∞ÂÄºÁ±ªÂûãÁöÑÊï∞Â≠óË¢´ËØªÊàêÂ≠óÁ¨¶‰∏≤ÁöÑÊï∞Â≠óÔºåÊàñÂ∞ÜÂ≠óÁ¨¶‰∏≤ÁöÑÊï∞Â≠óËØªÊàêÊï∞ÊçÆÂÄºÁ±ªÂûãÁöÑÊï∞Â≠ó„ÄÇ

In [21]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [33]:
data['duration'].astype('int')[:3]
# ËøôÂ∞±ÊòØÂëäËØâ Pandas ‚Äòduration‚ÄôÂàóÁöÑÁ±ªÂûãÊòØÊï∞ÂÄºÁ±ªÂûã„ÄÇ
# ÂêåÊ†∑ÁöÑÔºåÂ¶ÇÊûúÊÉ≥Êää‰∏äÊò†Âπ¥ËØªÊàêÂ≠óÁ¨¶‰∏≤ËÄå‰∏çÊòØÊï∞ÂÄºÁ±ªÂûãÔºåÊàë‰ª¨‰ΩøÁî®Âíå‰∏äÈù¢Á±ª‰ººÁöÑÊñπÊ≥ïÔºö

0    178
1    169
2    148
Name: duration, dtype: int64

In [24]:
data['title_year'].astype('str')[:3]

0    2009.0
1    2007.0
2    2015.0
Name: title_year, dtype: object

### ‰∏â„ÄÅ‰∏çËØÜÂà´Êï∞ÊçÆ

ÊúâÊó∂ÂÄôÊàë‰ª¨‰∏çÊÉ≥ÁúãÂà∞ÊüêÂàóÊàñËÄÖÊüêË°åÁöÑÁ©∫ÂÄºÔºå‰ΩÜÂç¥ËØ•ÂàóÁº∫Â§±‰∏çÊòØÂÖ≥ÈîÆÈáè‰∏çÈúÄË¶ÅÂà†Èô§
ÂèØ‰ª•ÈÄâÊã©ÂøΩÁï•/‰∏çËØÜÂà´ËØ•Êï∞ÊçÆÁöÑÊñπÊ≥ï

In [34]:
data['director_name'].replace({'NaN',''})

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
5013            Eric Eason
5014              Uwe Boll
5015     Richard Linklater
5016       Joseph Mazzella
5017          Travis Legge
5018         Alex Kendrick
5019         Marcus Nispel
5020       Brandon Landers
5021           Jay Duplass
5022            Jim Chuchu
5023            Daryl Wein
5024           Jason Trost
5025           John Waters
5026       Olivier Assayas
5027          Jafar Panahi
5028         Ivan Kavanagh
5029      Kiyoshi Kurosawa
5030          Tadeo Garcia
5031    Thomas L. Phillips
5032       Ash Baron-Cohen
5033         Shane Carruth
5034      Neill Dela Llana
5035      Robert Rodriguez
5036       Anthony Vallone
5037          Edward Burns
5038           Scott Smith
5039                   NaN
5040      Benjamin Roberds
5041           Daniel Hsia
5042              Jon Gunn
Name: director_name, Length: 5043, dtype: object

#### ÂêåÊ†∑ÁöÑÔºå ÂØπ‰∫éÁà¨Ëô´ÊñáÊú¨‰∏≠ÂèØËÉΩ‰ºöÂá∫Áé∞Êç¢ÈîôË°åÁöÑÊÉÖÂÜµ

‰æãÂ¶Ç ÂéüÊñáÊú¨‰∏∫112233

Âõ†‰∏∫ÈîôÊç¢Ë°åÊÉÖÂÜµÂèòÊàê11

                22
            
                33
                
Âõ†Ê≠§ÔºåÁî®Ëøô‰∏™ÊñπÊ≥ïÂèØ‰ª•ÂèØ‰ª•ÊõøÊç¢ÊñáÊú¨‰∏≠Â≠òÂú®ÁöÑ/nÔºàËøòÂèØÁî®Êù•ÂÖ∂‰ªñËΩ¨ÁßªËΩ¨‰πâÂ≠óÁ¨¶ /n/t/r

### Âõõ„ÄÅÈáçÂ§çÊï∞ÊçÆ

ÊúâÁöÑÊó∂ÂÄôÊï∞ÊçÆÈõÜ‰∏≠‰ºöÊúâ‰∏Ä‰∫õÈáçÂ§çÁöÑÊï∞ÊçÆ„ÄÇÂú®Êàë‰ª¨ÁöÑÊï∞ÊçÆÈõÜ‰∏≠‰πüÊ∑ªÂä†‰∫ÜÈáçÂ§çÁöÑÊï∞ÊçÆ„ÄÇ

In [43]:
# È¶ñÂÖàÊàë‰ª¨Ê†°È™å‰∏Ä‰∏ãÊòØÂê¶Â≠òÂú®ÈáçÂ§çËÆ∞ÂΩï„ÄÇ
# Â¶ÇÊûúÂ≠òÂú®ÈáçÂ§çËÆ∞ÂΩïÔºåÂ∞±‰ΩøÁî® Pandas Êèê‰æõÁöÑ drop_duplicates() Êù•Âà†Èô§ÈáçÂ§çÊï∞ÊçÆ„ÄÇ

data.drop_duplicates(['director_name','duration'],inplace=True)

## Ê°à‰æã2ÔºöÁóÖ‰∫∫ÂøÉËÑèÁóÖÊï∞ÊçÆ

https://www.cnblogs.com/BoyceYang/p/8186033.html

In [35]:
import pandas as pd
df = pd.read_csv('../data/patient_heart_rate.csv')
df.head()

     1    Mick√©y Mous√©    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

- Ê≤°ÊúâÂàóÂ§¥
- ‰∏Ä‰∏™ÂàóÊúâÂ§ö‰∏™ÂèÇÊï∞
- ÂàóÊï∞ÊçÆÁöÑÂçï‰Ωç‰∏çÁªü‰∏Ä
- Áº∫Â§±ÂÄº
- Á©∫Ë°å
- ÈáçÂ§çÊï∞ÊçÆ
- Èùû ASCII Â≠óÁ¨¶
- Êúâ‰∫õÂàóÂ§¥Â∫îËØ•ÊòØÊï∞ÊçÆÔºåËÄå‰∏çÂ∫îËØ•ÊòØÂàóÂêçÂèÇÊï∞

### ‰∫î„ÄÅÂ¢ûÂä†ÂàóÂ§¥

In [45]:
import pandas as pd
column_names= ['id', 'name', 'age', 'weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv('../data/patient_heart_rate.csv', names = column_names)
df.head(15)

      id            name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mick√©y Mous√©  56.0       70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
7    8.0      Sc√∂√∂py Doo  32.0       78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87

### ÂÖ≠„ÄÅÂçï‰ΩçÂàóÊï∞ÊçÆÁöÑÂçï‰Ωç‰∏çÁªü‰∏Ä

Â¶ÇÊûú‰ªîÁªÜËßÇÂØüÊï∞ÊçÆÈõÜÂèØ‰ª•ÂèëÁé∞ Weight ÂàóÁöÑÂçï‰Ωç‰∏çÁªü‰∏Ä„ÄÇÊúâÁöÑÂçï‰ΩçÊòØ kgsÔºåÊúâÁöÑÂçï‰ΩçÊòØ lbs

In [39]:
# Ëé∑Âèñ weight Êï∞ÊçÆÂàó‰∏≠Âçï‰Ωç‰∏∫ lbs ÁöÑÊï∞ÊçÆ
rows_with_lbs = df['weight'].str.contains('lbs').fillna(False)
df[rows_with_lbs]

    id          name   age      weight m0006 m0612 m1218 f0006 f0612 f1218
1  2.0   Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
4  5.0  Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
5  6.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72
9  9.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72

##### ‰∏∫‰∫ÜËß£ÂÜ≥Ëøô‰∏™ÈóÆÈ¢òÔºåÂ∞ÜÂçï‰ΩçÁªü‰∏ÄÔºåÊàë‰ª¨Â∞ÜÂçï‰ΩçÊòØ lbs ÁöÑÊï∞ÊçÆËΩ¨Êç¢Êàê kgs„ÄÇ

In [40]:
for i,lbs_row in df[rows_with_lbs].iterrows():
    weight = int(float(lbs_row['weight'][:-3])/2.2)
    df.at[i,'weight'] = '{}kgs'.format(weight)

In [41]:
df.head(12)

      id            name   age weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mick√©y Mous√©  56.0  70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0  70kgs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0    NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN  78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  90kgs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0  56kgs     -     -     -    71    78    75
7    8.0      Sc√∂√∂py Doo  32.0  78kgs    78    76    75     -     -     -
8    NaN             NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0  45kgs     -     -     -    92    95    87

### ‰∏É„ÄÅÁ©∫Ë°å 

‰ªîÁªÜÂØπÊØî‰ºöÂèëÁé∞Êàë‰ª¨ÁöÑÊï∞ÊçÆ‰∏≠‰∏ÄË°åÁ©∫Ë°åÔºåÈô§‰∫Ü index ‰πãÂ§ñÔºåÂÖ®ÈÉ®ÁöÑÂÄºÈÉΩÊòØ NaN„ÄÇ

Pandas ÁöÑ read_csv() Âπ∂Ê≤°ÊúâÂèØÈÄâÂèÇÊï∞Êù•ÂøΩÁï•Á©∫Ë°åÔºåËøôÊ†∑ÔºåÊàë‰ª¨Â∞±ÈúÄË¶ÅÂú®Êï∞ÊçÆË¢´ËØªÂÖ•‰πãÂêéÂÜç‰ΩøÁî® dropna() ËøõË°åÂ§ÑÁêÜÔºåÂà†Èô§Á©∫Ë°å.

In [42]:
# Âà†Èô§ÂÖ®Á©∫ÁöÑË°å
df.dropna(how='all',inplace=True)
df.head(12)

      id            name   age weight m0006 m0612 m1218 f0006 f0612 f1218
0    1.0    Mick√©y Mous√©  56.0  70kgs    72    69    71     -     -     -
1    2.0     Donald Duck  34.0  70kgs     -     -     -    85    84    76
2    3.0      Mini Mouse  16.0    NaN     -     -     -    65    69    72
3    4.0  Scrooge McDuck   NaN  78kgs    78    79    72     -     -     -
4    5.0    Pink Panther  54.0  90kgs     -     -     -    69   NaN    75
5    6.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
6    7.0    Dewey McDuck  19.0  56kgs     -     -     -    71    78    75
7    8.0      Sc√∂√∂py Doo  32.0  78kgs    78    76    75     -     -     -
9    9.0     Huey McDuck  52.0  85kgs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0  45kgs     -     -     -    92    95    87

In [47]:
import pandas as pd
# Â¢ûÂä†ÂàóÂ§¥
column_names= ['id', 'name', 'age', 'weight','m0006','m0612','m1218','f0006','f0612','f1218']
df = pd.read_csv('../data/patient_heart_rate.csv', names = column_names)

# ÂàáÂàÜÂêçÂ≠óÔºåÂà†Èô§Ê∫êÊï∞ÊçÆÂàó
df[['first_name','last_name']] = df['name'].str.split(expand=True)
df.drop('name', axis=1, inplace=True)

# Ëé∑Âèñ weight Êï∞ÊçÆÂàó‰∏≠Âçï‰Ωç‰∏∫ lbs ÁöÑÊï∞ÊçÆ
rows_with_lbs = df['weight'].str.contains('lbs').fillna(False)
df[rows_with_lbs]

# Â∞Ü lbs ÁöÑÊï∞ÊçÆËΩ¨Êç¢‰∏∫ kgs Êï∞ÊçÆ
for i,lbs_row in df[rows_with_lbs].iterrows():
    weight = int(float(lbs_row['weight'][:-3])/2.2)
df.at[i,'weight'] = '{}kgs'.format(weight)
 
# Âà†Èô§ÂÖ®Á©∫ÁöÑË°å
df.dropna(how='all',inplace=True)

# Âà†Èô§ÈáçÂ§çÊï∞ÊçÆË°å
df.drop_duplicates(['first_name','last_name'],inplace=True)

# Âà†Èô§Èùû ASCII Â≠óÁ¨¶
df['first_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df['last_name'].replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

# ÂàáÂàÜ sex_hour Âàó‰∏∫ sex ÂàóÂíå hour Âàó
sorted_columns = ['id','age','weight','first_name','last_name']
df = pd.melt(df,
id_vars=sorted_columns,var_name='sex_hour',value_name='puls_rate').sort_values(sorted_columns)
df[['sex','hour']] = df['sex_hour'].apply(lambda x:pd.Series(([x[:1],'{}-{}'.format(x[1:3],x[3:])])))[[0,1]]
df.drop('sex_hour', axis=1, inplace=True)

# Âà†Èô§Ê≤°ÊúâÂøÉÁéáÁöÑÊï∞ÊçÆ
row_with_dashes = df['puls_rate'].str.contains('-').fillna(False)
df.drop(df[row_with_dashes].index,
inplace=True)

# ÈáçÁΩÆÁ¥¢ÂºïÔºå‰∏çÂÅö‰πüÊ≤°ÂÖ≥Á≥ªÔºå‰∏ªË¶ÅÊòØ‰∏∫‰∫ÜÁúãÁùÄÁæéËßÇ‰∏ÄÁÇπ
df = df.reset_index(drop=True)
print(df)

      id   age      weight first_name last_name puls_rate sex   hour
0    1.0  56.0       70kgs      Micky      Mous        72   m  00-06
1    1.0  56.0       70kgs      Micky      Mous        69   m  06-12
2    1.0  56.0       70kgs      Micky      Mous        71   m  12-18
3    2.0  34.0   154.89lbs     Donald      Duck        85   f  00-06
4    2.0  34.0   154.89lbs     Donald      Duck        84   f  06-12
5    2.0  34.0   154.89lbs     Donald      Duck        76   f  12-18
6    3.0  16.0         NaN       Mini     Mouse        65   f  00-06
7    3.0  16.0         NaN       Mini     Mouse        69   f  06-12
8    3.0  16.0         NaN       Mini     Mouse        72   f  12-18
9    4.0   NaN       78kgs    Scrooge    McDuck        78   m  00-06
10   4.0   NaN       78kgs    Scrooge    McDuck        79   m  06-12
11   4.0   NaN       78kgs    Scrooge    McDuck        72   m  12-18
12   5.0  54.0  198.658lbs       Pink   Panther        69   f  00-06
13   5.0  54.0  198.658lbs       Pink   Panther       NaN   f  06-12
14   5.0  54.0  198.658lbs       Pink   Panther        75   f  12-18
15   6.0  52.0      189lbs       Huey    McDuck        68   f  00-06
16   6.0  52.0      189lbs       Huey    McDuck        75   f  06-12
17   6.0  52.0      189lbs       Huey    McDuck        72   f  12-18
18   7.0  19.0       56kgs      Dewey    McDuck        71   f  00-06
19   7.0  19.0       56kgs      Dewey    McDuck        78   f  06-12
20   7.0  19.0       56kgs      Dewey    McDuck        75   f  12-18
21   8.0  32.0       78kgs       Scpy       Doo        78   m  00-06
22   8.0  32.0       78kgs       Scpy       Doo        76   m  06-12
23   8.0  32.0       78kgs       Scpy       Doo        75   m  12-18
24  10.0  12.0       45kgs      Louie    McDuck        92   f  00-06
25  10.0  12.0       45kgs      Louie    McDuck        95   f  06-12
26  10.0  12.0       45kgs      Louie    McDuck        87   f  12-18

Êõ¥Â§öÁªÉ‰π†Ôºö

https://github.com/computational-class/data_cleaning